{% extends "layout.html" %}
{% block content %}
<div class="mt-5 mb-5 container">
    <h3>Search for a specific Data: </h1>
</div>
<div class="container d-flex justify-content-center">
    <form action='{{url_for("export")}}' method="post">
        <fieldset>
            <label class="form-control-label" for="station">Station : </label>
            <input required type="text" id="station" class="form-control" name="station">
            <label for="date" class="form-control-label">date : </label>
            <input required type="date" class="form-control" id="date" name="date">
            <input class="btn btn-primary mt-3" type="submit" value="search">
        </fieldset>
    </form>
</div>  
{%if station%}
    {%if check>0%}
        <div style="width:35%" class="container mt-5">
            <div class="text-center alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Success</strong> your data is ready
                <p class="fw-bold"t><a href='{{url_for("download")}}'>click here to download !</a></p>
            </div>
        </div>
    {%else%}
        <div style="width:35%" class="container mt-5">
            <div class="text-center alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Sorry!</strong> We couldn't find what you looking for <strong> :( </strong>
                <p class="fw-bold"t>please check your informations again</p>
            </div>
        </div>
    {%endif%}
{%endif%}
{%endblock content%}