{% extends "layout.html" %}
{% block content %}
    <div class="mt-5 mb-5 container">
        <h3>Search for a specific Data: </h1>
    </div>
    <div class="container d-flex justify-content-center">
        <form action='{{url_for("graphs")}}' method="post">
            <fieldset>
                <label class="form-control-label" for="station">Station : </label>
                <input required type="text" id="station" class="form-control" name="station">
                <label for="date" class="form-control-label">date : </label>
                <input required type="date" class="form-control" id="date" name="date">
                <input class="btn btn-primary mt-3" type="submit" value="search">
            </fieldset>
        </form>
    </div> 
{%if station%}
    {%if check>0%}
        <div class="mt-3 p-2 bg-light border rounded container text-center">
            <h1>Hummidité</h1>
            <img src="{{hummidite}}" alt="hummidite">
            <h1>Temperateur</h1>
            <img src="{{temperateur}}" alt="hummidite">
            <h1>Vitesse De Vent</h1>
            <img src="{{vitesseVent}}" alt="hummidite">
        </div>
    {%else%}
        <div style="width:35%" class="container mt-5">
            <div class="text-center alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Sorry!</strong> We couldn't find what you looking for <strong> :( </strong>
                <p class="fw-bold"t>please check your informations again</p>
            </div>
        </div>
    {%endif%}
{%endif%}
{%endblock content%}